langchain
langgraph
langchain_community
langchain_openai
langchain_groq
langchain_huggingface
python-dotenv
langchain_google_genai
ipykernel
langchain_groq
langchain-tavily
langchain_core
pypdf
sentence-transformers
langchain_chroma
faiss-cpu
streamlit
numpy